:root {
    /* Primary colors */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    /* Accent */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-blue: #f8f8fe;
    --light-gray: hsl(0, 0%, 75%);
    --black: hsl(0, 0%, 0%);
    /* Fuentes */
    --fuentes-titulos: 'Raleway', sans-serif;
    --fuentes-cuerpo: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: var(--fuentes-cuerpo);
    /* background: url("../images/bg-curve-mobile.svg"), 
                linear-gradient(to bottom, var(--white) 36%, 
                                            var(--light-grayish-blue) 36%); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 35%;
}
h1,
h2 {
    font-family: var(--fuentes-titulos);
    color: var(--very-dark-blue);
    margin-bottom: 1.6em;
}
h2 {
    font-size: 1.1em;
    text-align: center;
}
.parrafo {
    font-size: .9em;
}

.seccion {
    display: flex;
    flex-direction: column;
    width: 85%;
}

/* ------------ CABECERA ------------*/

.cabecera {
    width: 100vw;
    /* background-color: var(--white); */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.logo-header {
    height: 1.7em;
    margin-left: 1.2em;
}
nav {
    margin-right: 15px;
}
.cabecera__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.cabecera__menu li {
    font-size: .8em;
    margin-right: 18px;
}
.cabecera__menu li a {
   text-decoration: none;
   color: var(--very-dark-blue);
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}
.seccion {
    height: auto;
}

/* -------------- MAIN -------------*/

main {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 55px;
}

/* ------------ SECCIÓN UNO ------------*/

.seccion-uno {
    text-align: center;
}
.seccion-uno__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 2.5em;
}
.seccion-uno__imagen__img {
    width: 100%;
}
.seccion-uno__formulario {
    width: 100%;
}

/* ------------ SECCIÓN DOS ------------*/

.seccion-dos {
    
}
.seccion-dos__contenido__p {
    color: var(--desaturated-blue);
    margin-bottom: 1.5em;
    text-align: left;
}
.seccion-dos__contenido__enlace {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}
.seccion-dos__contenido__a {
    display: block;
    color: var(--moderate-cyan);
    text-decoration: none;
    font-size: .7em;
}
.seccion-dos__contenido__a::after {
    /* content: "";
    display: block;
    background: url("../images/icon-arrow.svg") no-repeat;
    background-position: right;
    width: 150px;
    height: 20px;
    overflow: visible;
    float: right;
    position: relative;
    left: -46%;
    border-bottom: 1px solid var(--moderate-cyan); */
/*     content: "";
    display: inline-block;
    background: url("../images/icon-arrow.svg") no-repeat;
    background-size: auto;
    background-position-y: bottom;
    width: 17px;
    height: 17px;
    overflow: visible; */

}
.seccion-dos__contenido__testimonio {
    width: 80%;
    background-color: var(--white);
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px var(--light-gray));
    padding: 20px 20px;
    margin-top: 30px;
}
.seccion-dos__contenido__testimonio__p {
    font-size: .6em;
    color: varr(--very-dark-blue);
}
.seccion-dos__contenido__testimonio__img {
    margin-bottom: 4px;
}
.seccion-dos__contenido__testimonio__autor {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.seccion-dos__contenido__testimonio__autor__retrato {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 10px;
}
.seccion-dos__contenido__testimonio__autor__id__nombre {
    font-size: .7em;
    font-weight: bold;
}
.seccion-dos__contenido__testimonio__autor__id__cargo {
    font-size: .5em;
}
.seccion-dos__contenido__testimonio__autor__id {
    margin-left: 0;
}

/* ------------ SECCIÓN TRES ------------*/

.seccion-tres {
    display: flex;
    flex-direction: column;
    background-color: var(--desaturated-blue);
    width: 100%;
    padding: 45px 25px 25px 25px;
}

.seccion-tres__p,
.seccion-tres__h2 {
    color: var(--white);
    text-align: center;
}
.seccion-tres__formulario {
    width: 80%;
}


/* ------------ CONTROLES ------------*/
.input, 
.boton {
    width: 95%;
    padding: 9px 20px;
    border-radius: 3px;
    margin-bottom: 1em;
}
.boton {
    border: 0;
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    font-weight: bold;
}
#seccion-uno__formulario__i-email {
    border: 1px solid black;
}
#seccion-uno__formulario__b-submit {
    border: 1px solid var(--bright-blue);
    filter: drop-shadow(2px 2px 2px var(--light-gray));
}
#seccion-tres__formulario__i-email {
    border: 0;
    filter: drop-shadow(0px 0px 1px var(--black));
}
#seccion-tres__formulario__b-submit {
    border: 1px solid var(--bright-blue);
    filter: drop-shadow(0px 0px 1px var(--black));
}

/* ----------- FOOTER ------------*/
footer {
    width: 100vw;
    background-color: var(--very-dark-blue);
    color: var(--white);
}
.pie__contenedor {
    padding-top: 60px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 70px;
}
.logo-pie {
    filter: invert(1) saturate(100) grayscale(1);
    margin-left: 0;
}
.pie__contacto {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    margin-left: 0;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
}
.pie__contenedor__contacto__p {
    margin-left: 0px;
}
.pie__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin-left: 0;
}
.pie__menu__izq,
.pie__menu__dch {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.pie__menu__izq a,
.pie__menu__dch a {
    text-decoration: none;
    color: var(--white);
    margin-left: 0;
    margin-bottom: 20px;
}
.pie__social {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.pie__social i {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;

}

/* ----------- ATRIBUCIÓN ------------*/

.attribution { 
    padding: 20px 0;
    background-color: var(--very-dark-blue);
    font-size: 11px; 
    text-align: center; 
    color: var(--white);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ---------- MEDIA QUERIES ----------*/

@media screen and (min-width: 800px){

    .seccion {
        flex-direction: row-reverse;
        width: 85%;
    }

    /* ------------ CABECERA ------------*/

    nav {
        margin-right: 45px;
    }
    .cabecera {
        margin-top: 2em;
        margin-bottom: 2.5em;
        padding-left: 35px;
        padding-right: 35px;
    }
    .logo-header {
        height: 1.7em;
        margin-left: 1.2em;
    }
    .cabecera__menu li {
        margin-left: 35px; 
    }

    /* ------------ SECCIÓN UNO ------------*/



}

