:root {
    /* Primary colors */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    /* Accent */
    --bright-blue: hsl(224, 93%, 58%);
    --bright-blue-active: hsl(224, 80%, 71%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-blue: #f8f8fe;
    --light-gray: hsl(0, 0%, 75%);
    --black: hsl(0, 0%, 0%);
    /* Fuentes */
    --fuentes-titulos: 'Raleway', sans-serif;
    --fuentes-cuerpo: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: var(--fuentes-cuerpo);
    background: url("../images/bg-curve-mobile.svg"), 
                linear-gradient(to bottom, var(--white) 30%, 
                                            var(--light-grayish-blue) 30%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 29%;
}
h1,
h2 {
    font-family: var(--fuentes-titulos);
    color: var(--very-dark-blue);
    margin-bottom: 1.6em;
}
h2 {
    font-size: 1.1em;
    text-align: center;
}
.parrafo {
    font-size: .9em;
}

.seccion {
    display: flex;
    flex-direction: column;
    width: 85%;
}

/* ------------ CABECERA ------------*/

.cabecera {
    /* width: 100vw; */
    /* background-color: var(--white); */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.logo-header {
    height: 1.7em;
}
nav {
    margin-right: 15px;
}
.cabecera__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.cabecera__menu li {
    font-size: .8em;
    margin-right: 18px;
}
.cabecera__menu li a {
   text-decoration: none;
   color: var(--very-dark-blue);
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}
.seccion {
    height: auto;
}
.seccion__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------- MAIN -------------*/

main {
    /* width: 100vw; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 55px;
}

/* ------------ SECCIÓN UNO ------------*/

.seccion__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 2.5em;
}
.seccion__imagen__img {
    width: 100%;
}
.seccion-uno__formulario {
    width: 100%;
}
.seccion-uno__h1,
.seccion-uno__p {
    text-align: center;
}

/* ------------ SECCIÓN DOS ------------*/

.seccion-dos__contenido__p {
    color: var(--desaturated-blue);
    margin-bottom: 1.5em;
    text-align: left;
}
.seccion-dos__contenido__enlace {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.seccion-dos__contenido__enlace img {
    margin-left: 3px;
}
.seccion-dos__contenido__a {
    position: relative;
    display: block;
    color: var(--moderate-cyan);
    text-decoration: none;
    font-size: .7em;
    margin-right: 3px;
}
.seccion-dos__contenido__a::after {
    position: absolute;
    border-bottom: 1px solid var(--moderate-cyan); 
    content: ""; 
    width: 120%;
    height: 50%;
    overflow: visible;
    left: 0px;
    bottom: -3px;
}
.seccion-dos__contenido__testimonio {
    width: 80%;
    background-color: var(--white);
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px var(--light-gray));
    padding: 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.seccion-dos__contenido__testimonio__p {
    font-size: .6em;
    color: varr(--very-dark-blue);
}
.seccion-dos__contenido__testimonio__img {
    margin-bottom: 4px;
}
.seccion-dos__contenido__testimonio__autor {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.seccion-dos__contenido__testimonio__autor__retrato {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 10px;
}
.seccion-dos__contenido__testimonio__autor__id__nombre {
    font-size: .7em;
    font-weight: bold;
}
.seccion-dos__contenido__testimonio__autor__id__cargo {
    font-size: .5em;
}
.seccion-dos__contenido__testimonio__autor__id {
    margin-left: 0;
}

/* ------------ SECCIÓN TRES ------------*/

.seccion-tres {
    display: flex;
    flex-direction: column;
    background-color: var(--desaturated-blue);
    width: 100%;
    padding: 45px 25px 25px 25px;
}

.seccion-tres__p,
.seccion-tres__h2 {
    color: var(--white);
    text-align: center;
}
.seccion-tres__formulario {
    width: 80%;
}

/* ----------- FOOTER ------------*/

footer {
    /* width: 100vw; */
    background-color: var(--very-dark-blue);
    color: var(--white);
}
.pie__contenedor {
    padding-top: 60px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 70px;
}
.logo-pie {
    filter: invert(1) saturate(100) grayscale(1);
    margin-left: 0;
}
.pie__contacto {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    margin-left: 0;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
}
.pie__contenedor__contacto__p {
    margin-left: 0px;
}
.pie__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin-left: 0;
}
.pie__menu__izq,
.pie__menu__dch {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.pie__menu__izq a,
.pie__menu__dch a {
    text-decoration: none;
    color: var(--white);
    margin-left: 0;
    margin-bottom: 20px;
}
.pie__menu__izq a:hover,
.pie__menu__dch a:hover,
.pie__menu__izq a:active,
.pie__menu__dch a:active {
    color: var(--bright-blue);
}
.pie__social {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.pie__social i {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}
.pie__social i:hover,
.pie__social i:active {
    color: var(--bright-blue);
}

/* ------------ CONTROLES ------------*/

.input, 
.boton {
    width: 95%;
    padding: 9px 20px;
    border-radius: 3px;
    margin-bottom: 1em;
}
.boton {
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    font-weight: bold;
    font-size: .7em;
}
.boton:hover,
.boton:active {
    cursor: pointer;
    background-color: var(--bright-blue-active);
}
#seccion-uno__formulario__i-email {
    border: 1px solid black;
}
#seccion-uno__formulario__b-submit {
    border: 1px solid var(--bright-blue);
    filter: drop-shadow(2px 2px 2px var(--light-gray));
}
#seccion-tres__formulario__i-email {
    border: 0;
    filter: drop-shadow(0px 0px 1px var(--black));
}
#seccion-tres__formulario__b-submit {
    border: 1px solid var(--bright-blue);
    filter: drop-shadow(0px 0px 1px var(--black));
}

/* ----------- ATRIBUCIÓN ------------*/

.attribution { 
    padding: 20px 0;
    background-color: var(--very-dark-blue);
    font-size: 11px; 
    text-align: center; 
    color: var(--white);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ----------------------------    MEDIA QUERIES    ---------------------------*/

@media screen and (min-width: 800px){
    body {
        font-family: var(--fuentes-cuerpo);
        background: url("../images/bg-curve-desktop.svg"), 
                    linear-gradient(to bottom, var(--white) 34%, 
                                                var(--light-grayish-blue) 34%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-position-y: 31%;
    }
    h1,
    h2 {
        font-size: 2.1em;
        text-align: left;
    }
    main {
        margin-top: 80px;
        grid-row-gap: 130px;
    }
    .seccion {
        flex-direction: row-reverse;
        text-align: left;
    }
    .formulario {
        flex-direction: row;
        justify-content: space-between;
    }

    /* ------------ CABECERA ------------*/

    nav {
        margin-right: 45px;
    }
    .cabecera {
        /* width: 90%; */
        margin-top: 3em;
        margin-bottom: 2.5em;
    }
    .logo-header {
        height: 2.5em;
        margin-left: 6.5em;
    }
    .cabecera__menu li {
        margin-left: 35px; 
    }
    .seccion__imagen__img {
        width: 80%;
    }
    .seccion__contenido {
        padding-right: 50px;
    }

    /* ------------ SECCIÓN UNO ------------*/
    
    .seccion-uno__h1,
    .seccion-uno__p {
        text-align: left;
    }
    .seccion-uno {
        width: 90%;
    }
   #seccion-uno__formulario__i-email {
        width: 65%;
   }
       
    /* ----------- SECCIÓN DOS ------------*/

    .seccion-dos {
        width: 90%;
    }
    .s-contenido-dos {
        width: 55%;
    }
    .s-contenido-dos header {
        margin-left: 0;
    }
    .s-imagen-dos {
        width: 45%;
    }
   .seccion-dos__contenido__p {
        width: 70%;
        margin-left: 0;
   }
   .seccion-dos__contenido__testimonio {
       margin-left: 0;
       width: 45%;
   }
   .seccion-dos__contenido__a {
       font-size: .8em;
       margin-left: 0;
   }

   /* ------------ SECCIÓN TRES ------------*/

    .seccion-tres {
        flex-direction: row;
        padding: 80px 50px 50px 50px;
    }

    .seccion-tres__p,
    .seccion-tres__h2 {
        color: var(--white);
        text-align: center;
    }
    .seccion-tres__contenido {
        width: 45%;
        padding-right: 100px;
    }
    .seccion-tres__p, 
    .seccion-tres__h2 {
        text-align: left;
    }
    .seccion-tres__h2 {
        margin-bottom: 20px;
        font-size: 1.8em;
    }
    .seccion-tres__formulario {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: auto;
    }
    #seccion-tres__formulario__i-email {
        width: 100%;
        margin-bottom: 25px;
    }

    /* ----------- FOOTER ------------*/

    .pie__contenedor {
        width: 88%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 30px;
        padding-bottom: 40px;
    }
    .logo-pie {
        grid-column: span 3;
    }
    .pie__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin-left: 0;
        grid-column-gap: 100px;
    }
    .pie__contacto {
        grid-row-gap: 15px;
        align-content: start;
    }

    /* ------------ CONTROLES --------------*/

    .input, 
    .boton {
        margin-left: 0;
        margin-right: 0;
}
    .boton {
        width: 33%;
    }
}

