:root {
    /* Primary colors */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    /* Accent */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    /* Fuentes */
    --fuentes-titulos: 'Raleway', sans-serif;
    --fuentes-cuerpo: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: var(--fuentes-cuerpo);
    background: url("../images/bg-curve-mobile.svg"), 
                linear-gradient(to bottom, var(--white), 
                                            var(--white) 40%, 
                                            var(--light-grayish-blue) 40%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 35%;
}
h1,
h2 {
    font-family: var(--fuentes-titulos);
    color: var(--very-dark-blue);
    margin-bottom: 1.6em;
}
h2 {
    font-size: 1.1em;
    text-align: center;
}
.parrafo {
    font-size: .9em;
}

.seccion {
    display: flex;
    flex-direction: column;
    width: 85%;
}

/* ------------ CABECERA ------------*/

.cabecera {
    width: 100vw;
    /* background-color: var(--white); */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.logo-header {
    height: 1.7em;
    margin-left: 1.2em;
}
.cabecera__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.cabecera__menu li {
    font-size: .8em;
    margin-right: 18px;
}
.cabecera__menu li a {
   text-decoration: none;
   color: var(--very-dark-blue);
}

/* -------------- MAIN -------------*/

main {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 80px;
}

/* ------------ SECCIÓN UNO ------------*/

.seccion-uno {
    text-align: center;
}
.seccion-uno__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 2.5em;
}
.seccion-uno__imagen__img {
    width: 100%;
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    width: 100%;
}

/* ------------ SECCIÓN DOS ------------*/

.seccion-dos {
    text-align: left;
}
.seccion-dos__contenido__p {
    color: var(--desaturated-blue);
    margin-bottom: 1.5em;
}
.seccion-dos__contenido__testimonio {
    width: 80%;
    background-color: var(--white);
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px var(--very-dark-blue));
    padding: 20px 20px;
}
.seccion-dos__contenido__testimonio__p {
    font-size: .6em;
    color: varr(--very-dark-blue);
}
.seccion-dos__contenido__testimonio__img {
    margin-bottom: 4px;
}
.seccion-dos__contenido__testimonio__autor {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.seccion-dos__contenido__testimonio__autor__retrato {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 10px;
}
.seccion-dos__contenido__testimonio__autor__id__nombre {
    font-size: .7em;
    font-weight: bold;
}
.seccion-dos__contenido__testimonio__autor__id__cargo {
    font-size: .5em;
}
.seccion-dos__contenido__testimonio__autor__id {
    margin-left: 0;
}

/* ------------ CONTROLES ------------*/

#i-email,
#b-submit {
    width: 95%;
    padding: 9px 20px;
    border-radius: 3px;
    margin-bottom: 1em;
}
#i-email {
    border: 1px solid black;
}
#b-submit {
    border: 0;
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    border: 1px solid var(--bright-blue);
    font-weight: bold;
}

/* ----------- ATRIBUCIÓN ------------*/

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ---------- MEDIA QUERIES ----------*/

@media screen and (min-width: 800px){


}

